import { LitElement, html, css } from 'lit';
import { customElement, property } from 'lit/decorators.js';

@customElement('{{> tagnamePartial }}')
export class {{ className name }} extends LitElement {
  static styles = css`
    /* Styles here */
  `;

  @property({ type: String }) label = '';

  render() {
    return html`<div>${this.label}</div>`;
  }
}
